{% extends 'base.html' %}

{% load crispy_forms_filters %}

{% block title %} register {% endblock %}

{% block content %}
     <div class="card">
        <div class="card-body">
            <h3 class="card-title">Registration</h3>
            <form method="POST" action="{% url 'register' %}">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-dark float-end">Login</button>
            </form>
        </div>
    </div>
{% endblock %}