{% load active_link_tags %}
<nav class="navbar navbar-expand-md navbar-light card">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">hvck`s merchandise</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% active_link 'home' %}" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% active_link 'products' %}" aria-current="page" href="{% url 'products' %}">Products</a>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link {% active_link 'orders' %}" href="{% url 'orders' %}">Orders</a>
                    </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav align-items-baseline">
                {% if request.user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a id="navbar-dropdown" class="nav-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ request.user.username }}
                        </a>

                        <div class="dropdown-menu dropdown-menu-end animate slideIn" aria-labelledby="navbar-dropdown">
                            <a href="{% url 'profile' %}" class="dropdown-item px-4">Edit profile</a>
                            <a href="{% url 'change-password' %}" class="dropdown-item px-4">Change password</a>
                            <hr class="dropdown-divider">
                            <a href="{% url 'logout' %}" class="dropdown-item px-4">Log out</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link {% active_link 'register' %}" href="{% url 'register' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% active_link 'login' %}" href="{% url 'login' %}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>