{% extends 'base.html' %}

{% load crispy_forms_filters %}

{% block title %} login {% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Order {{ product.category.name }} - {{ product.name }}</h3>
            <form method="POST" action="{% url 'create-order' product.id %}">
                {% csrf_token %}
                {{ form|crispy }}
                <hr>
                <div class="row gy-3">
                    <div class="col-md-6">
                        <label for="cc-name" class="form-label">Name on card</label>
                        <input type="text" class="form-control" id="cc-name" placeholder="">
                        <small class="text-muted">Full name as displayed on card</small>
                        <div class="invalid-feedback">
                            Name on card is required
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label for="cc-number" class="form-label">Credit card number</label>
                        <input type="text" class="form-control" id="cc-number" placeholder="">
                        <div class="invalid-feedback">
                            Credit card number is required
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label for="cc-expiration" class="form-label">Expiration</label>
                        <input type="text" class="form-control" id="cc-expiration" placeholder="">
                        <div class="invalid-feedback">
                            Expiration date required
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label for="cc-cvv" class="form-label">CVV</label>
                        <input type="text" class="form-control" id="cc-cvv" placeholder="">
                        <div class="invalid-feedback">
                            Security code required
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-dark float-end">Order</button>
            </form>
        </div>
    </div>
{% endblock %}