{% extends 'base.html' %}

{% block title %}
    home
{% endblock %}

{% block content %}
    <div class="my-5 pt-5 px-5 card">
        <div class="container p-5">
            <div class="row">
                <div class="col animated fadeIn" data-appear-anim-style="fadeIn">
                    <h1 class="display-4 fw-bold text-center">
                        My merch
                    </h1>
                    <h3 class="mg-md float-none text-center">
                        The best merch that u ever seen
                    </h3>
                    <div class="text-center">
                        <a href="{% url 'products' %}" class="btn btn-outline-dark">I wanna see this!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}