{% extends 'base.html' %}

{% block title %}
    home
{% endblock %}

{% block content %}
    <div class="my-5 pt-5 px-5 card">
        <div class="container p-5">
            <div class="row">
                <div class="col animated fadeIn" data-appear-anim-style="fadeIn">
                    <h1 class="display-4 fw-bold text-center">
                        My merch
                    </h1>
                    <h3 class="mg-md float-none text-center">
                        The best merch that u ever seen
                    </h3>
                    <div class="text-center">
                        <a href="#available" class="btn btn-outline-dark">Let`s check</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-5 p-3 card" id="available">
        <div class="container mb-3 px-1">
            <h3 class="text-center mt-3">Available to buy</h3>
            <hr>
            {% if product_list %}
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {% for product in product_list %}
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="{{ product.image }}" class="bd-placeholder-img card-img-top" width="300"
                                     height="300" role="img" aria-label="Placeholder: Product"
                                     alt="">

                                <div class="card-body">
                                    <small class="small text-muted">{{ product.category.name }}</small>
                                    <p class="card-title fw-bolder">{{ product.name }}</p>
                                    <p class="card-text">{{ product.description }}</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <button type="button" class="btn btn-sm btn-outline-dark">
                                            Buy for {{ product.price }} RUB
                                        </button>
                                        <small class="text-muted">{{ product.quantity }} available</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}

                <div class="text-center">
                    Nothing here... <small class="text-muted">for now</small>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}